<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.rusakov.doto">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    <application>-->
<!--    <meta-data-->
<!--        android:name="com.google.firebase.ml.vision.DEPENDENCIES"-->
<!--        android:value="label" />-->
<!--    &lt;!&ndash; To use multiple models: android:value="label,model2,model3" &ndash;&gt;-->
<!--</application>-->
</manifest>
